


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    /* background-color: #A1A1A1; */
    background-color: #F8F8F8;
}

.header {
position: absolute;
padding: 20px;
text-align: right;
    margin-left: 300px;
    background-color: #F8F8F8;


}


#place_holder_1 {
    margin-top: 100px;
}

#left_zoom {
    position: absolute;
    left: 0;
    width: 300px;
    height: 100%;
    margin-top: 0;
    background-color: #F8F8F8;
}





.img_1 {
    width: 200px;
    height: 200px;
    /*position: absolute;
    top: 40%;
    left: 40%; */

}

.text_1 {
    /*position: absolute;
    top: 40%;
    left: 40%;*/
    color: inherit;
    text-decoration: inherit;
    background-color: #F8F8F8;
    z-index: 1;
}





.img_2 {
    width: 200px;
    height: 200px;
    /*position: absolute;
    top: 20%;
    left: 30%;*/

}

.text_2 {
    position: absolute;
    /*top: 20%;
    left: 30%;*/
    color: inherit;
    text-decoration: inherit;
    background-color: #F8F8F8;
    z-index: 1;

}



.img_3 {
    width: 200px;
    height: 200px;
    /*position: absolute;
    top: 50%;
    left: 25%;*/

}

.text_3 {
    /*position: absolute;
    top: 50%;
    left: 25%;*/
    color: inherit;
    text-decoration: inherit;
    background-color: #F8F8F8;
    z-index: 1;

}


/* Css for drag */

#mydiv {
    position: absolute;
    color: inherit;
    text-decoration: inherit;
    top: 40%;
    left: 40%;
    border: 0px solid white;

}

#mydivheader {
    padding: 10px;
    cursor: move;
    color: inherit;
    text-decoration: inherit;


}


/*



.img_1:hover  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: green;
    color: black;
    top: 40%;
    left: 40%;
}

/* end css for dag */


#mydiv_2 {
    position: absolute;
    /*border: 1px solid #d3d3d3;*/
    top: 20%;
    left: 30%
}

#mydiv_2header {
    padding: 10px;
    cursor: move;
    color: inherit;
    text-decoration: inherit;


}

#mydiv_3 {
    position: absolute;
    /*border: 1px solid #d3d3d3;*/
    top: 50%;
    left: 25%;
}

#mydiv_3header {
    padding: 10px;
    cursor: move;
    color: inherit;
    text-decoration: inherit;




}



/*
showme {
    display: none;
}

.showhim:hover .showme {
    display: block;
}
*/


.brightness {
    background-color: white;
    display: inline-block;

}
div.brightness:hover {
    /*opacity: .5;*/
    box-shadow: 0px 0px 0px 5px rgba(255,249,163,0.56);
}

#artist_1, #artist_2, #artist_3 {
    display: none;
}

#mydiv:hover #artist_1 {
    display:block;
}


#mydiv_2:hover #artist_2 {
    display:block;
}


#mydiv_3:hover #artist_3 {
    display:block;
}



#my_test {
    color : green;
}

#results {
    margin-bottom: 0%;
}

#about_text {
    margin-top: 50px;
}

.preview img {
    width: 300px;
    height: 400px;
}


.preview img{
    cursor: -moz-zoom-in;
    cursor: -webkit-zoom-in;
    cursor: zoom-in;

}